@import "./variables.scss";
.history-home {
  box-sizing: border-box;
  /*  box-shadow: inset 0px 1px 2px rgba(50, 50, 50, 0.75); */
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: $grey;
  padding-top: clamp(30px, 5.2vw, 70px);
  padding-bottom: clamp(30px, 5.2vw, 67px);
  gap: 50px;
  > div {
    display: flex;
    &:nth-child(1) {
      span {
        margin-top: clamp(0px, 6.333vw, 30px);
        color: $lemon-green;
        font-size: 15px;
        font-weight: 500;
      }
    }
    &:nth-child(2) {
      width: clamp(320px, 38%, 100%);
      flex-direction: column;
      h2 {
        font-size: clamp(2rem, -0.875rem + 6.333vw, 50px);
        margin-bottom: 20px;
        line-height: 1.4;
        font-weight: normal;
      }
      p {
        font-size: 18px;
        line-height: 1.78;
        color: $text-grey;
        max-width: 393px;
      }
    }
    &:nth-child(3) {
      align-items: flex-end;
    }
  }
}

.prefooter {
  background: url(../images/prefooter.jpg) center center;
  background-size: cover;
  height: clamp(250px, 33vw, 586px);
  width: 100%;
}
footer.footer {
  max-width: 100%;
  background-color: $lemon-green;
  display: flex;
  justify-content: space-between;
  padding: 65px 63px 58px 78px;
  > .column-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    > .menu-footer {
      display: flex;
      gap: 40px;
      font-size: 13px;
      align-items: center;
      margin-bottom: 20px;
      li {
        a {
          color: $grey-dark-2;
          &.active {
            font-weight: 600;
          }
        }
      }
    }
    > .network-socials {
      display: flex;
      gap: 15px;
      > a {
        width: 32px;
        height: 32px;
        display: flex;
        &.s-linkedin {
          background: url(../images/social-linkedin.svg) center center no-repeat;
        }
        &.s-vimeo {
          background: url(../images/social-vimeo.svg) center center no-repeat;
        }
        &.s-instagram {
          background: url(../images/social-instagram.svg) center center
            no-repeat;
        }
        &.s-twitter {
          background: url(../images/social-twitter.svg) center center no-repeat;
        }
        &.s-facebook {
          background: url(../images/social-facebook.svg) center center no-repeat;
        }
      }
    }
  }
  .column-2 {
    .logo-footer {
      width: 55px;
      height: 55px;
      display: flex;
      background: url(../images/logo.svg) center center no-repeat;
      background-size: cover;
    }
  }
}
//Responsive
@media (max-width: 834px) {
  .history-home {
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding: 30px;
  }
  footer.footer {
    padding: 30px;
    > .column-1 {
      > .menu-footer {
        padding-top: 30px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
      }
    }
  }
}
