/* 
  Variables
*/
@import "./variables.scss";
@import "./fonts.scss";
@import "./utils.scss";
/* 
General styles
*/

body {
  margin: 0px;
  background-color: $white;
  font-size: 13px;
  font-family: "HelveticaNeue";
}
ul,
p {
  margin: 0px;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: $text-grey;
}
h1,
h2 {
  margin: 0px;
}
ul {
  list-style: none;
}

/* 

*/
.container {
  max-width: 1440px;
  margin: 0px auto;
}
